alembic==1.4.2
appdirs==1.4.3
astroid==2.4.2
attrs==19.3.0
autopep8==1.5.2
backcall==0.2.0
blinker==1.4
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
dbus-python==1.2.16
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.1
itsdangerous==1.1.0
pop-transition==1.0.1
psycopg2-binary==2.8.4
pylint==2.6.0
pyproj==2.6.1.post1
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.23.0
traci==1.6.0
